@font-face {
  font-family: 'Nerd Fonts';
  src: url('./fonts/nf-windows.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2e86de;
  padding: 10px;
}

h1 {
  height: 100px;
  font-size: 40px;
  border-color: black;
  text-align: center;
  padding: 30px;
  letter-spacing: 3px;
  color: antiquewhite;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main div#movie-genre-box select {
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background: #c8d6e5;
}

main #movie-popup {
  align-self: center;
}

main img.movie-poster {
  height: 375px;
}

main div.movie-showcase-btns {
  align-self: center;
}

main div.movie-showcase-btns button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

button.hidden {
  visibility: hidden;
}

#exit-form-btn {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 15px;
  right: 25px;
}

#exit-form-btn::before {
  content: "\f00d";
  font-family: "Nerd Fonts"
}

#add-movie-genre input {
  display: none;
}

#add-movie-popup {
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  transform: translate(-50%, -50%);
  background: #ff9f43;
  padding: 25px 10px 10px 10px;
  border-radius: 15px;
}

#exit-form::before {
  content: '\f00d';
  font-family: 'Nerd Fonts';
  position: absolute;
  top: 15px;
  right: 25px;
}

#add-movie-popup h3 {
  font-size: 1.5em;
  color: #24415f;
}

#genre-box {
  display: flex;
  gap: 5px;
}

#genre-box select {
  width: 300px;
  height: 62px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background: #c8d6e5;
}

#genre-box button {
  width: 62px;
  height: 62px;
  background: #10ac84;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

#genre-box button::before {
  content: '\eadc';
  font-family: 'Nerd Fonts';
  font-size: 3em;
  color: #feca57;
}

#movie-title-box input {
  height: 62px;
  width: 362px;
  background: #c8d6e5;
}

#movie-poster-upload div#drag-n-drop-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 362px;
  height: 200px;
  border: 2px whitesmoke dashed;
}

div#drag-n-drop-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

div#drag-n-drop-box img {
  width: 64px;
}

#movie-poster-upload div#uploaded-movie-file {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background: #5f27cd;
}

#file-status-icons i.green-check::before {
  content: '\f058';
  position: absolute;
  font-family: 'Nerd Fonts';
  font-style: normal;
  color: #01a3a4;
  font-size: 2em;
}

#file-status-icons i.red-cross::before {
  content: '\f057';
  font-family: 'Nerd Fonts';
  font-style: normal;
  color: #fc2526;
  font-size: 2em;
  visibility: hidden;
}

#file-name-box span {
  display: block;
}

#file-name-box span.file-name {
  font-weight: bold;
}

#file-name-box span.status-text {
  font-style: italic;
  color: #00d2d3;
}

#remove-file i.trash::before {
  content: '\f1f8';
  font-family: 'Nerd Fonts';
  font-style: normal;
  font-size: 2em;
  color: #ee5253;
}

div#submission-box button.add-movie-btn {
  background: #2e86de;
  color: whitesmoke;
  font-weight: bold;
  width: 362px;
  height: 62px;
  border-radius: 15px;
  font-size: 1.2em;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 15px;
  width: 100vw;
  width: 100vw;
}

footer p {
  margin-bottom: 15px;
  color: whitesmoke;
}

footer p::before {
  content: '\f16ff';
  font-family: 'Nerd Fonts';
  font-size: 2em;
}
footer button {
  width: 125px;
  height: 40px;
  color: #e2df06;
  background: #5f27cd;
  font-size: 20px;
  border: 2px solid #ff9f43;
}

